.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

@media (min-width: 768px) {
  body {
    padding-top: 70px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1031;
  }

  .navbar-collapse.in {
    overflow-y: auto;
  }

  .navbar-fixed-top {
    position: absolute;
  }
}



